.pane {
  background: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px #dddddd; */
}

.header {
  background-color: #80b6bc;
  margin: 5px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-size: 28px;
  color: white;
  font-weight: 600;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.8s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.projects-heading {
  color: rgba(45, 146, 205, 0.8);
  font-weight: 800;
}

.build-button {
  font-size: 20px;
  background-color: #80b6bc;
  border: 1px solid #80b6bc;
  font-weight: 600;
  color: white;
}

.build-button:hover {
  background-color: transparent;
  color: #80b6bc;
}

.badge-primary-not {
  color: #fff;
  background-color: #f0374b;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
[data-theme="compact"] .card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}

[data-theme="compact"]
  .card-container
  > .ant-tabs-card
  > .ant-tabs-content
  > .ant-tabs-tabpane,
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

[data-theme="compact"] .card-container > .ant-tabs-card > .ant-tabs-bar,
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: rgba(255, 255, 255, 0.863);
}

[data-theme="compact"]
  .card-container
  > .ant-tabs-card
  > .ant-tabs-bar
  .ant-tabs-tab,
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

[data-theme="compact"]
  .card-container
  > .ant-tabs-card
  > .ant-tabs-bar
  .ant-tabs-tab-active,
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
.code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}
