.pane {
  background: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px #dddddd; */
}

.header {
  background-color: #eee;
  margin: 5px;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 5px;
  height: 40px;
  font-size: 24px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.8s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.projects-heading {
  color: rgba(45, 146, 205, 0.8);
  font-weight: 800;
}
